/* html {
	width: 100%;
	height: 100%;
  }
  body {
	
	color: rgba(0, 0, 0, 0.6);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .overlay, .form-panel.one:before {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
  }
  .form {
	z-index: 15;
	position: relative;
	background: rgba(17, 17, 17, 0.8);
	width: 600px;
	border-radius: 4px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
	box-sizing: border-box;
	margin: 100px auto 10px;
	overflow: hidden;
  }
  .form-toggle {
	z-index: 10;
	position: absolute;
	top: 60px;
	right: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	transform-origin: center;
	transform: translate(0, -25%) scale(0);
	opacity: 0;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  .form-toggle:before, .form-toggle:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 4px;
	background: #4285f4;
	transform: translate(-50%, -50%);
  }
  .form-toggle:before {
	transform: translate(-50%, -50%) rotate(45deg);
  }
  .form-toggle:after {
	transform: translate(-50%, -50%) rotate(-45deg);
  }
  .form-toggle.visible {
	transform: translate(0, -25%) scale(1);
	opacity: 1;
  }
  .form-group.welcome{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 20px;
	color: black
  }
  .form-group.welcome:last-child {
	margin: 0;
  }
  .form-group.welcome label {
	display: block;
	margin: 0 0 10px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: white
  }
  .two .form-group.welcome label {
	color: #fff;
  }
  .form-group.welcome input {
	outline: none;
	display: block;
	background: rgba(255, 255, 255, 0.918);
	width: 100%;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	color: rgba(0, 0, 0, 0.6);
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	transition: 0.3s ease;
  }
  .form-group.welcome input:focus {
	color: rgba(0, 0, 0, 0.8);
  }
  .two .form-group.welcome input {
	color: red;
  }
  .two .form-group.welcome input:focus {
	color: black;
  }
  .form-group.welcome button {
	outline: none;
	background: #4285f4;
	width: 100%;
	border: 0;
	border-radius: 4px;
	padding: 12px 20px;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	text-transform: uppercase;
	cursor: pointer;
  }
  .two .form-group.welcome button {
	background: #fff;
	color: #4285f4;
  }
  .form-group.welcome .form-remember {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
  }
  .form-group.welcome .form-remember input[type='checkbox'] {
	display: inline-block;
	width: auto;
	margin: 0 10px 0 0;
  }
  .form-group.welcome .form-recovery {
	color: #4285f4;
	font-size: 12px;
	text-decoration: none;
  }
  .form-panel {
	padding: 60px calc(5% + 60px) 60px 60px;
	box-sizing: border-box;
  }
  .form-panel.one:before {
	content: '';
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
  }
  .form-panel.one.hidden:before {
	display: block;
	opacity: 1;
	visibility: visible;
  }
  .form-panel.two {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 95%;
	background: #4285f4;
	width: 100%;
	min-height: 100%;
	padding: 60px calc(10% + 60px) 60px 60px;
	transition: 0.3s ease;
	cursor: pointer;
  }
  .form-panel.two:before, .form-panel.two:after {
	content: '';
	display: block;
	position: absolute;
	top: 60px;
	left: 1.5%;
	background: rgba(255, 255, 255, 0.2);
	height: 30px;
	width: 2px;
	transition: 0.3s ease;
  }
  .form-panel.two:after {
	left: 3%;
  }
  .form-panel.two:hover {
	left: 93%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .form-panel.two:hover:before, .form-panel.two:hover:after {
	opacity: 0;
  }
  .form-panel.two.active {
	left: 10%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: default;
  }
  .form-panel.two.active:before, .form-panel.two.active:after {
	opacity: 0;
  }
  .form-header {
	margin: 0 0 40px;
  }
  .form-header h1 {
	padding: 4px 0;
	color: #fffafa;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
  }
  .two .form-header h1 {
	position: relative;
	z-index: 40;
	color: #fff;
  }
  .pen-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 600px;
	margin: 20px auto 100px;
  }
  .pen-footer a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, .1);
  }
  .pen-footer a .material-icons {
	width: 12px;
	margin: 0 5px;
	vertical-align: middle;
	font-size: 12px;
  }
  .cp-fab {
	background: #fff !important;
	color: #4285f4 !important;
  }
   */


   body{
	margin:0;
	color:#6a6f8c;
	/* font:600 16px/18px 'Open Sans',sans-serif; */
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}